.background{
    background: #fafafa;
}
.list{
    font-size: 13px;
    font-weight: 300;
    font-family: "Montserrat";
    color: rgb(193,193,193);
}
.listcolor{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #191919;
}
.order-bgr{
    background: #E8FAF5;
}
.account-list{
    padding-top: 85px;
}
.order-bd{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-font{
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #191919;
}

.order-font-color{
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #B4B4B4;
}

.order-btn{
    width: 80px;
    height: 35px;
    background: #00AA75;
    color: white;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 600;
    font-family: "Montserrat";
}
.order-title{

    font-size: 28px;
    font-weight: 600;
    font-family: "Montserrat";
}
.order-subtitle{

    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat";
}
.order-items{

    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
}
.account-mob{
    display: block;
}
@media only screen and (min-width: 100px) and (max-width: 959px){
    .account-mob{
        display: none;
    }
}