a{
    font-size: 10px;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 10px;
    color: #B3B3B3;
}
a:hover {
    color: #00AA75;
    // background-color: #42545C;
   }
  
// a.active {
//     background-color: black;
//     color: #00AA75;
// }
mat-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fafafa;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
}
.container{
    scroll-behavior: smooth;
}
.select{
    font-size: 10px;
    cursor: pointer;
}
@media (max-width: 500px){
    .select{
        font-size: 9px;
    }
}