<div class="pt-4 pb-3">
    <div fxLayout="row warp" class="p-2">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
                <span class="title">Your Classes</span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="view">
        <div class="card">
            <mat-card-content style="display: flex; justify-content: center; text-align: center;">
                <div class="margin">
                    <span class="subtitle">You have not created any of your class. you can create your Google class account
                        or create a class by clicking create a manual button. </span>
                </div>   
            </mat-card-content>
            <mat-card-content style="display: flex; justify-content: center; text-align: center;">
                <div>
                    <button mat-button class="sub">Import Google Classroom <mat-icon class="inport-icon">group</mat-icon></button>

                    <button mat-button class="sub">Create Manually</button>
                </div>
            </mat-card-content>    
        </div>
    </div>    
</div>