.img-brd{
    width: 500px;
    height: 313.65px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.popup-img{
    width: 100%;
}
.inv-title{
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
}
.inv-tc{
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}
a{
    color: #000000;
}
.inv-dec{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #707070;
    word-wrap: break-word;
}
.inv-cards{
    height: 530px;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 1px 0px #aaaaaa;
}
.inv-card{
    height: 530px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 0px #aaaaaa;
}
.custom-search {
    position: relative;
    width: 380px;
    height: 50px;
  }
  .custom-search-input {
    width: 100%;
    height: 40px;
    font-family: 'Montserrat';
    border: 1px solid #BEBEBE;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    // box-shadow: 2px 2px 2px #bebebe;
    box-sizing: border-box;
    outline: none;
    font-weight: 300;
    font-size: 10px;
    font-family: 'Montserrat';
  }
  .custom-search-botton {
    position: absolute;
    width: 110px;
    height: 40px;
    font-weight: 600;
    font-size: 11px;
    font-family: 'Montserrat';
    right: 0px; 
    border: 2px solid #00AA75;
    color: #00AA75;
    outline: none;
    background-color: white;
    border-radius: 30px;
    z-index: 2;
  }
  .custom-search-botton:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  }
  h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #B4B4B4; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#F2F2F2; 
     padding:0 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat"; 
 }
 .center{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 .inv-btn{
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #69bd65, #22ab72);
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";
 }
 @media only screen and (min-width: 100px) and (max-width: 500px){
 }